
  
  <div class="processContainer">
    <div class="autoWaTxt" style="width: 600px;text-align: center;margin-left: 100px;margin-top: 50px;">
        <p>
         Get a Free Quote Now
        </p>
    </div>
    <form>
    <div class="parentText">
      <div class="column">
          <div>
            <input type="text" placeholder="Full Name"   style="width:200px; padding-right: 10px;" /> 
          </div>
      </div>
      <div class="column">
          <div>
            <input type="text"  placeholder="E-mail"   style="width:200px; padding-right: 10px;" /> 
          </div>
      </div>
      <div class="column">  
          <div>
            <input type="text" placeholder="Phone Number"   style="width:200px; padding-right: 10px;"/> 
          </div>
      </div>
  </div>
  <br>
  <br>
  <br>

  
  <div class="parentText">
    <div class="column">
        <div>
          <input type="text" placeholder="State"   style="width:200px; padding-right: 10px;" /> 
        </div>
    </div>
    <div class="column">
        <div>
          <input type="text"  placeholder="Zip Code"   style="width:200px; padding-right: 10px;" /> 
        </div>
    </div>
    <div class="column">  
      <button type="button" class="btn btn-primary" id="liveToastBtn">Submit</button>
    </div>
</div>
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="..." class="rounded me-2" alt="...">
      <strong class="me-auto">Bootstrap</strong>
      <small>11 mins ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Hello, world! This is a toast message.
    </div>
  </div>
</div>
</form>
  </div>

 