.QuoteBg
{
    background-color: white;  
    width: 720px; 
    margin-left: 22%; 
    height: 275px; 
    box-shadow: 0 0 24px rgb(204 204 204), 0 44px 74px rgb(27 22 66 / 6%);
}

.QuoteInner
{
    width: 600px;
    text-align: center;
    margin-left: 10%;
}