  <div class="processContainer">
    <div class="autoWaTxt" style="width: 600px;text-align: center;margin-left: 100px;margin-top: 50px;">
        <p>
         Get a Free Quote Now
        </p>
    </div>
<form>
  <div class="parentText">
    <div class="column">
        <div>
          <input type="text" placeholder="Full Name" [(ngModel)]=fname 
          name = "first" required minlength="4"  #first="ngModel"/> 
        </div>
        <div *ngIf="first.invalid && (first.dirty || first.touched)"  class="alert alert-danger" role="alert">
          <div *ngIf="first.errors?.['required']" >
            Name is required.
          </div>
          <div *ngIf="first.errors?.['minlength']">
            Name must be at least 4 characters long.
          </div>
        </div>  
    </div>
    <div class="column">
        <div>
          <input type="text"  placeholder="E-mail" name="email" /> 
        </div>
        <!-- <div *ngIf="qemail.invalid && (qemail.dirty || qemail.touched)" class="alert">
          <div *ngIf="qemail.errors?.['required']" >
            Email is required.
          </div>
          <div *ngIf="qemail.errors?.['minlength']">
            Name must be at least 4 characters long.
          </div>
        </div>   -->
    </div>
    <div class="column">  
        <div>
          <input type="text" placeholder="Phone Number" /> 
        </div>
    </div>
</div>
</form>
   
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <!-- <img src="..." class="rounded me-2" alt="..."> -->
      <strong class="me-auto">Bootstrap</strong>
      <small>11 mins ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Hello, world! This is a toast message.
    </div>
  </div>
</div>
<br>
<br>
<br>


<div class="parentText">
  <div class="column">
      <div>
        <input type="text" placeholder="State"   style="width:200px; padding-right: 10px;" /> 
      </div>
  </div>
  <div class="column">
      <div>
        <input type="text"  placeholder="Zip Code"   style="width:200px; padding-right: 10px;" /> 
      </div>
  </div>
  <div class="column">  
    <button type="button" class="btn btn-primary" id="liveToastBtn" (click)  = "ClickEvent()">Submit</button>
  </div>
</div>
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
<div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <img src="..." class="rounded me-2" alt="...">
    <strong class="me-auto">Bootstrap</strong>
    <small>11 mins ago</small>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body">
    Hello, world! This is a toast message.
  </div>
</div>
</div>
  </div>

 