<nav class="navbar navbar-expand-lg navbar-light bg-light appNavTop">
    <div class="collapse navbar-collapse appDiv"
     id="navbarSupportedContent">
      <div class="navbar-nav">
        <a class="nav-item nav-link autoWa" style="margin-left: 90px;">Autowa.</a></div>
        <div class="navbar-nav">
            <a class="nav-item nav-link navmenu" href="#home">Home</a>
            <a class="nav-item nav-link navmenu" href="#about">About Us</a>
            <a  class="nav-item nav-link navmenu" href="#quote">Get Quote</a>
            <a  class="nav-item nav-link navmenu" href="#contact">Contact Us</a>
            <a  class="nav-item nav-link navmenu"  href="#"> 
                <span class="appCallUs">
             Need Help? Call us
            <span class="yellowNav">1800 9876543</span></span></a>
              
                       
               </div>
        <div class="navbar-nav">
        </div>
    </div>
    

  
</nav>
<app-home id="home"></app-home>
<app-about id="about"></app-about>
<app-process id="quote"></app-process>
<app-contactus id="contact"></app-contactus>


