<div>
<nav class="navbar navbar-expand-lg navbar-light bg-light navBarText1" >
  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"  class="navbar"> -->
  <div class="mainContainer">
    <div class="collapse navbar-collapse mainContainer" id="navbarSupportedContent">
      <div class="navbar-nav">
        <a class="nav-item nav-link autoWa">Autowa.</a></div>
        <div class="navbar-nav ">
            <a class="nav-item nav-link" href="#home" routerLink="home">Home</a>
            <a class="nav-item nav-link" href="#about">About Us</a>
            <a  class="nav-item nav-link" href="#quote">Get Quote</a>
            <a  class="nav-item nav-link" href="#contact">Contact Us</a>
            <Div>
              
            <a  class="nav-item nav-link"  style="margin-left: 190px"> Need Help? Call us
              <span class="yellow">1800 9876543</span>
                          </a>
                        </Div>
               </div>
               
        <div class="navbar-nav">
        
        </div>
        
    </div>
    
  </div>
  
</nav>
<app-home id="home"></app-home>
<app-about id="about"></app-about>
<app-process id="quote"></app-process>
<app-contactus id="contact"></app-contactus>

