<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-top:-5px;height: 100px; text-align: center;">
    <div class="collapse navbar-collapse" style="width:100%;background-color: #ffeee0; height: 100px;position: fixed; " id="navbarSupportedContent">
      <div class="navbar-nav">
        <a class="nav-item nav-link autoWa">Autowa.</a></div>
        <div class="navbar-nav">
            <a class="nav-item nav-link navmenu" href="#home">Home</a>
            <a class="nav-item nav-link navmenu" href="#about">About Us</a>
            <a  class="nav-item nav-link navmenu" href="#quote">Get Quote</a>
            <a  class="nav-item nav-link navmenu" href="#contact">Contact Us</a>
            <Div>
              <!-- <img alt="My image name" src="assets/img/headphone.png"> -->
            <a  class="nav-item nav-link navmenu"  style="margin-left: 190px"> Need Help? Call us
              <span class="yellowNav">1800 9876543</span>
                          </a>
                        </Div>
               </div>
        <div class="navbar-nav">
        </div>
    </div>
    

  
</nav>
<app-home id="home"></app-home>
<app-about id="about"></app-about>
<app-process id="quote"></app-process>
<app-contactus id="contact"></app-contactus>


